.home-container {
  height: 100vh;
  width: 100vw;

  padding: 2rem;
}

.start {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start button {
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: #b893df;

  padding: 1rem 2rem;
  border-radius: 8px;
}
.start button:hover {
  transform: scale(1.5);
}
